<%= output_once :yandex do %>
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<% end %>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="<%= options[:choosen_socials].join(',') %>"></div>